header{
    background-color: #3651c4;
    height: 35px;
    width: 100%;
    position: relative;
    padding: 0;
}

main{
  height: 240px;
  display: flex;
  justify-content: center; 
}

input{
   display: block;
   margin: 10px;
   height: 17px;
   width: 200px;
   border:1px solid #a5a4a4;
   padding: 5px;
   font-size: 11px;
}

#login{
    width: 100px;
    background-color: #dd3030;
    border: none;
    color: white;
    float: right;
    margin: 0px 10px;
    height: 27px;
}

.parent {
    position: relative;
}

.child {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-49%, -49%);
}


footer{
    background-color:#5d5d5d ;
    height: 70px;
    width:100%;
    padding: 0; 
    position: relative;
}



@media screen and (max-width: 800px) {
    input{
        height: 17px;
        width: 150px;
     }

     #login{
        width: 75px;
        height: 27px;
    } 

  }


  @media screen and (min-height: 500px) {
    main{
        height: 504px ;
    }

  }  